.group-child {
  background-color: var(--color-white);
}
.about-inner,
.group-child,
.group-item,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1449px;
  height: 494px;
}
.about-inner,
.group-item {
  top: 233px;
}
.group-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  cursor: pointer;
}
.achievement,
.lorem-ipsum-dolor {
  position: absolute;
  height: 6.67%;
  width: 54.96%;
  top: 41.35%;
  left: 25%;
  display: inline-block;
}
.lorem-ipsum-dolor {
  height: 32.14%;
  width: 79.54%;
  top: 57.88%;
  left: 11.58%;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  text-align: justify;
}
.gridiconstrophy {
  position: absolute;
  top: 34.78px;
  left: 100.73px;
  width: 85.84px;
  height: 85.84px;
  overflow: hidden;
  cursor: pointer;
}
.rectangle-parent {
  position: absolute;
  height: 39.3%;
  width: 20.76%;
  top: 34.46%;
  right: 39.63%;
  bottom: 26.24%;
  left: 39.61%;
}
.about-child,
.about-item,
.group-inner {
  position: absolute;
  top: 1452px;
  left: 0;
  width: 1443px;
  height: 11px;
}
.about-item,
.group-inner {
  top: 812px;
  left: -10px;
  background-color: var(--color-red);
  width: 1440px;
}
.group-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.history,
.lorem-ipsum-dolor1 {
  position: absolute;
  height: 6.67%;
  width: 37.12%;
  top: 43.36%;
  left: 35.3%;
  display: inline-block;
}
.lorem-ipsum-dolor1 {
  height: 32.14%;
  width: 79.54%;
  top: 59.89%;
  left: 12.54%;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  text-align: justify;
}
.vector-icon {
  position: absolute;
  height: 21.15%;
  width: 28.38%;
  top: 7.97%;
  right: 37.95%;
  bottom: 70.88%;
  left: 33.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div,
.rectangle-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-div {
  height: 39.3%;
  width: 20.76%;
  top: 34.46%;
  right: 68.61%;
  bottom: 26.24%;
  left: 10.63%;
  cursor: pointer;
}
.graduate,
.lorem-ipsum-dolor2 {
  position: absolute;
  height: 6.67%;
  width: 40.03%;
  top: 40.89%;
  left: 37.47%;
  display: inline-block;
}
.lorem-ipsum-dolor2 {
  height: 32.14%;
  width: 79.54%;
  top: 57.56%;
  left: 10.04%;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  text-align: justify;
}
.fluentpeople-team-28-filled-icon {
  position: absolute;
  height: 30.49%;
  width: 36.63%;
  top: 2.34%;
  right: 30.22%;
  bottom: 67.16%;
  left: 33.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-container {
  position: absolute;
  height: 39.3%;
  width: 20.76%;
  top: 34.46%;
  right: 9.93%;
  bottom: 26.24%;
  left: 69.3%;
}
.about {
  top: 0;
  height: 845px;
}
.about,
.about-wrapper,
.index-child {
  position: absolute;
  left: 0;
  width: 1440px;
}
.about-wrapper {
  top: 534px;
  height: 845px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.index-child {
  top: 0;
  background-color: var(--color-black);
  height: 71px;
}
.players {
  position: relative;
}
.players-wrapper,
.staff-wrapper {
  position: absolute;
  top: 2593px;
  left: 109px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.staff-wrapper {
  top: 3411px;
  left: 116px;
}
.news-child {
  position: absolute;
  height: 100%;
  width: 89.39%;
  top: 0;
  right: 10.61%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #282020, #2e2e2e 99.76%);
}
.news1 {
  position: absolute;
  width: 5.03%;
  top: 8.58%;
  left: 8.07%;
  font-size: var(--font-size-9xl);
  display: inline-block;
  color: var(--color-white);
}
.frame-child,
.frame-item {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.frame-child {
  height: 99.79%;
  top: 0.21%;
  bottom: 0;
  background-color: var(--color-white);
}
.frame-item {
  height: 33.88%;
  top: 0;
  bottom: 66.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div,
.practice {
  position: absolute;
  top: 41.07%;
  left: 5.88%;
}
.div {
  top: 91.58%;
  font-size: var(--font-size-xs);
  font-weight: 300;
}
.lorem-ipsum-dolor3 {
  position: absolute;
  height: 24.02%;
  width: 84.12%;
  top: 48.67%;
  left: 5.29%;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  text-align: justify;
  display: inline-block;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 487px;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.frame-inner,
.rectangle-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.frame-inner {
  height: 100%;
  bottom: 0;
  background-color: var(--color-white);
  cursor: pointer;
}
.rectangle-icon {
  height: 33.95%;
  bottom: 66.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: 91.56%;
  left: 7.94%;
  font-weight: 300;
}
.lorem-ipsum-dolor4,
.practice1 {
  position: absolute;
  top: 40.95%;
  left: 7.94%;
  font-size: var(--font-size-xl);
}
.lorem-ipsum-dolor4 {
  height: 24.07%;
  width: 84.12%;
  top: 48.56%;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  text-align: justify;
  display: inline-block;
}
.rectangle-parent1 {
  position: absolute;
  top: 1px;
  left: 381px;
  width: 340px;
  height: 486px;
}
.div2 {
  position: absolute;
  top: 90.95%;
  left: 7.94%;
  font-weight: 300;
}
.frame-child3,
.rectangle-parent2 {
  position: absolute;
  top: 1px;
  left: 762px;
  width: 340px;
  height: 486px;
}
.frame-child3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.rectangle-parent3,
.rectangle-parent4 {
  position: absolute;
  top: 1px;
  left: 1143px;
  width: 340px;
  height: 486px;
}
.rectangle-parent4 {
  left: 1524px;
}
.component-1 {
  position: relative;
  width: 1102px;
  height: 487px;
  flex-shrink: 0;
  overflow: hidden;
}
.component-1-wrapper {
  position: absolute;
  top: 103px;
  left: 159px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.news-item {
  position: absolute;
  top: 619px;
  left: 608px;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--color-black);
  width: 45px;
  height: 22px;
}
.news-child1,
.news-child2,
.news-child3,
.news-inner {
  position: absolute;
  top: 619px;
  left: 653px;
  background-color: var(--color-gainsboro-100);
  width: 44px;
  height: 22px;
}
.news-child1,
.news-child2,
.news-child3 {
  left: 697px;
  width: 46px;
}
.news-child2,
.news-child3 {
  left: 743px;
  width: 44px;
}
.news-child3 {
  left: 787px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 45px;
}
.div5 {
  position: absolute;
  top: 622px;
  left: 628px;
  color: var(--color-white);
}
.div6,
.div7,
.div8,
.div9,
.news {
  position: absolute;
  top: 621px;
  left: 672px;
}
.div7,
.div8,
.div9,
.news {
  left: 716px;
}
.div8,
.div9,
.news {
  left: 761px;
}
.div9,
.news {
  left: 806px;
}
.news {
  top: 1322px;
  left: 0;
  width: 1612px;
  height: 664px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.frame-child7,
.matches {
  position: relative;
  flex-shrink: 0;
}
.matches {
  display: inline-block;
  width: 125px;
  height: 34px;
}
.frame-child7 {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 712px;
  height: 41px;
}
.matches-parent {
  position: absolute;
  top: 2065px;
  left: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xl);
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.index-item {
  position: absolute;
  top: 2128px;
  left: 119px;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-dimgray);
  width: 101px;
  height: 41px;
}
.index-child1,
.index-child2,
.index-child3,
.index-child4,
.index-inner {
  position: absolute;
  top: 2128px;
  left: 241px;
  background-color: var(--color-gainsboro-100);
  width: 102px;
  height: 41px;
}
.index-child1,
.index-child2,
.index-child3,
.index-child4 {
  left: 364px;
  width: 101px;
}
.index-child2,
.index-child3,
.index-child4 {
  left: 486px;
}
.index-child3,
.index-child4 {
  left: 608px;
}
.index-child4 {
  left: 730px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
}
.u-11,
.u-13,
.u-15,
.u-17,
.u-6,
.u-8 {
  position: absolute;
  top: 2134px;
  left: 147px;
  display: inline-block;
  width: 44px;
  height: 29px;
}
.u-11,
.u-13,
.u-15,
.u-17,
.u-8 {
  left: 269px;
  width: 46px;
}
.u-11,
.u-13,
.u-15,
.u-17 {
  left: 392px;
  width: 47px;
}
.u-13,
.u-15,
.u-17 {
  left: 514px;
  width: 52px;
}
.u-15,
.u-17 {
  left: 636px;
}
.u-17 {
  left: 758px;
}
.group-child1,
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 710px;
  height: 41px;
}
.group-child2 {
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-darkslategray);
  width: 101px;
}
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  position: absolute;
  top: 0;
  left: 122px;
  background-color: var(--color-gainsboro-100);
  width: 101px;
  height: 41px;
}
.group-child4,
.group-child5,
.group-child6,
.group-child7 {
  left: 244px;
}
.group-child5,
.group-child6,
.group-child7 {
  left: 366px;
}
.group-child6,
.group-child7 {
  left: 488px;
}
.group-child7 {
  left: 609px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
}
.u-61,
.u-81 {
  position: absolute;
  top: 6px;
  left: 28px;
}
.u-81 {
  left: 150px;
}
.u-111,
.u-131,
.u-151,
.u-171 {
  position: absolute;
  top: 6px;
  left: 272px;
}
.u-131,
.u-151,
.u-171 {
  left: 394px;
}
.u-151,
.u-171 {
  left: 516px;
}
.u-171 {
  left: 625px;
}
.group-child8,
.group-child9,
.rectangle-parent5 {
  position: absolute;
  top: 2666px;
  left: 125px;
  width: 710px;
  height: 41px;
}
.group-child8,
.group-child9 {
  top: 24px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.group-child9 {
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-darkslategray);
  width: 101px;
}
.group-child10,
.group-child11,
.group-child12,
.group-child13,
.group-child14 {
  position: absolute;
  top: 24px;
  left: 119px;
  background-color: var(--color-gainsboro-100);
  width: 101px;
  height: 41px;
}
.group-child11,
.group-child12,
.group-child13,
.group-child14 {
  left: 241px;
}
.group-child12,
.group-child13,
.group-child14 {
  left: 363px;
}
.group-child13,
.group-child14 {
  left: 485px;
}
.group-child14 {
  left: 606px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
}
.u-112,
.u-62,
.u-82 {
  position: absolute;
  top: 30px;
  left: 26px;
}
.u-112,
.u-82 {
  left: 147px;
}
.u-112 {
  left: 269px;
}
.u-132,
.u-152,
.u-172,
.u-173 {
  position: absolute;
  top: 30px;
  left: 391px;
}
.u-152,
.u-172,
.u-173 {
  left: 513px;
}
.u-172,
.u-173 {
  left: 632px;
}
.u-173 {
  top: 0;
  left: 634px;
}
.rectangle-parent6 {
  position: absolute;
  top: 3453px;
  left: 125px;
  width: 710px;
  height: 65px;
}
.frame-child8 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1199px;
  height: 209px;
  flex-shrink: 0;
}
.rectangle-frame {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.rifootball-fill-icon {
  position: absolute;
  top: 51px;
  left: 44px;
  width: 70px;
  height: 71px;
  overflow: hidden;
}
.sabtu-5-maret {
  top: 46px;
  left: 134px;
  width: 228px;
}
.por-uni-bandung,
.sabtu-5-maret,
.saswco-fc,
.u-63 {
  position: absolute;
  display: inline-block;
  height: 27px;
}
.u-63 {
  top: 19px;
  left: 821px;
  font-size: var(--font-size-3xl);
  width: 40px;
}
.por-uni-bandung,
.saswco-fc {
  top: 42px;
  left: 541px;
  width: 229px;
}
.saswco-fc {
  top: 39px;
  left: 922px;
  width: 142px;
}
.lapangan-por-uni,
.liga-danone-indonesia {
  position: absolute;
  top: 74px;
  left: 134px;
  font-size: var(--font-size-base);
  font-weight: 600;
  display: inline-block;
  width: 227px;
  height: 23px;
}
.lapangan-por-uni {
  top: 106px;
  left: 166px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  width: 219px;
  height: 40px;
}
.poruni-4-icon,
.saswco-1-icon {
  position: absolute;
  top: 66px;
  left: 611px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.saswco-1-icon {
  top: 69px;
  left: 954px;
  height: 59.21px;
}
.p {
  margin: 0;
}
.wib {
  position: absolute;
  top: 87px;
  left: 810px;
  font-size: var(--font-size-sm);
  display: inline-block;
  text-align: center;
  width: 63px;
  height: 54px;
}
.icbaseline-access-time-icon,
.material-symbolslocation-on-icon {
  position: absolute;
  top: 110px;
  left: 132px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icbaseline-access-time-icon {
  top: 61px;
  left: 829px;
}
.group-child15 {
  position: absolute;
  top: 172px;
  left: 132px;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 225px;
  height: 31px;
  cursor: pointer;
}
.summary {
  position: absolute;
  top: 177px;
  left: 216px;
  font-size: var(--font-size-sm);
  font-weight: 900;
  color: var(--color-white);
  display: inline-block;
  width: 85px;
  height: 20px;
}
.all-matches {
  position: relative;
  font-weight: 900;
}
.all-matches-wrapper {
  position: absolute;
  top: 237px;
  left: 933px;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-32xl);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.frame-parent {
  position: absolute;
  top: 2191px;
  left: 109px;
  width: 1219px;
  height: 264px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.all-news-wrapper,
.all-players-wrapper,
.all-staff-wrapper {
  position: absolute;
  top: 2011px;
  left: 1042px;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-47xl);
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  font-size: var(--font-size-sm);
}
.all-players-wrapper,
.all-staff-wrapper {
  top: 2672px;
  padding: var(--padding-8xs) var(--padding-32xl);
}
.all-staff-wrapper {
  top: 3483px;
  left: 1041px;
  padding: var(--padding-8xs) var(--padding-54xl);
}
.more-information {
  position: absolute;
  top: 5233px;
  left: 1135px;
  font-size: var(--font-size-base);
  font-weight: 900;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 261px;
  height: 467px;
  object-fit: cover;
  cursor: pointer;
}
.group-child17 {
  top: 378px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 262px;
  height: 89px;
}
.group-child17,
.luis,
.manager {
  position: absolute;
}
.luis {
  top: 387px;
  left: 111px;
  font-weight: 900;
}
.manager {
  top: 420px;
  left: 88px;
}
.rectangle-parent7 {
  position: relative;
  width: 262px;
  height: 467px;
  flex-shrink: 0;
}
.group-child18 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 262px;
  height: 467px;
  object-fit: cover;
  cursor: pointer;
}
.carlo-ancelotti {
  position: absolute;
  top: 391px;
  left: 50px;
  font-weight: 900;
}
.head-coach {
  position: absolute;
  top: 425px;
  left: 68px;
}
.rectangle-parent8 {
  position: relative;
  width: 263px;
  height: 467px;
  flex-shrink: 0;
}
.group-child20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 467px;
  object-fit: cover;
  cursor: pointer;
}
.group-child21 {
  position: absolute;
  top: 378px;
  left: 1px;
  background-color: var(--color-darkslategray);
  width: 261px;
  height: 89px;
}
.carlo-ancelotti1 {
  position: absolute;
  top: 393px;
  left: 49px;
  font-weight: 900;
}
.head-coach1 {
  position: absolute;
  top: 427px;
  left: 67px;
}
.carlo-ancelotti2 {
  position: absolute;
  top: 391px;
  left: 51px;
  font-weight: 900;
}
.group-parent,
.head-coach2 {
  position: absolute;
  top: 425px;
  left: 69px;
}
.group-parent {
  top: 3530px;
  left: 174px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-xl);
}
.group-child24,
.group-child26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 261px;
  height: 467px;
  object-fit: cover;
}
.group-child26 {
  cursor: pointer;
}
.luis1 {
  position: absolute;
  top: 388px;
  left: 97px;
  font-weight: 900;
}
.goalkeepers {
  position: absolute;
  top: 421px;
  left: 61px;
}
.rectangle-parent12 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 262px;
  height: 467px;
}
.rectangle-parent11 {
  position: relative;
  width: 262px;
  height: 473px;
  flex-shrink: 0;
}
.group-child28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 467px;
  object-fit: cover;
}
.luis2 {
  position: absolute;
  top: 388px;
  left: 94px;
  font-weight: 900;
}
.goalkeepers1,
.group-child33 {
  position: absolute;
  top: 421px;
  left: 58px;
}
.group-child33 {
  top: 6px;
  left: 0;
  width: 262px;
  height: 467px;
  object-fit: cover;
  cursor: pointer;
}
.group-child34,
.group-child35 {
  position: absolute;
  top: 378px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 261px;
  height: 89px;
}
.group-child35 {
  top: 384px;
}
.luis3 {
  position: absolute;
  top: 399px;
  left: 108px;
  font-weight: 900;
}
.goalkeepers2 {
  position: absolute;
  top: 432px;
  left: 72px;
}
.group-child36,
.group-child37 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 262px;
  height: 467px;
  object-fit: cover;
}
.group-child37 {
  top: 6px;
  cursor: pointer;
}
.group-child39 {
  position: absolute;
  top: 384px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 262px;
  height: 89px;
}
.luis4 {
  position: absolute;
  top: 399px;
  left: 105px;
  font-weight: 900;
}
.goalkeepers3 {
  position: absolute;
  top: 432px;
  left: 69px;
}
.rectangle-parent16 {
  position: relative;
  width: 263px;
  height: 473px;
  flex-shrink: 0;
}
.group-container {
  position: absolute;
  top: 2794px;
  left: 174px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-xl);
}
.index-child5 {
  position: absolute;
  top: 172px;
  left: 1562px;
  width: 6004px;
  height: 398px;
}
.material-symbolsarrow-circle-icon {
  position: absolute;
  top: 5055px;
  left: 1217px;
  width: 91px;
  height: 91px;
  overflow: hidden;
  cursor: pointer;
}
.poruni-4-icon1 {
  position: relative;
  width: 125px;
  height: 140.83px;
  flex-shrink: 0;
  object-fit: cover;
}
.lorem-ipsum-dolor8,
.por-uni-bandung1 {
  position: relative;
  display: inline-block;
  width: 248px;
  height: 32.67px;
  flex-shrink: 0;
}
.lorem-ipsum-dolor8 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  text-align: justify;
  width: 1128px;
  height: 54.08px;
}
.poruni-4-parent {
  position: absolute;
  top: 463px;
  left: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--color-black);
}
.frame-child9 {
  position: relative;
  background-color: var(--color-red);
  width: 1440px;
  height: 11px;
  flex-shrink: 0;
}
.poruni-4-icon2 {
  position: absolute;
  height: 35.96%;
  width: 4.72%;
  top: 8.77%;
  right: 92.15%;
  bottom: 55.26%;
  left: 3.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div10,
.jl-baturaden-raya-container,
.por-uni-bandung2 {
  position: absolute;
  height: 15.52%;
  width: 17.22%;
  top: 21.93%;
  left: 9.79%;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.div10,
.jl-baturaden-raya-container {
  height: 15.35%;
  width: 14.93%;
  top: 40.79%;
  left: 82.43%;
  font-size: var(--font-size-smi);
}
.jl-baturaden-raya-container {
  height: 22.37%;
  width: 18.61%;
  top: 39.91%;
  left: 60.63%;
}
.addres,
.phone,
.por-uni-bandung3 {
  position: absolute;
  height: 15.35%;
  width: 14.93%;
  top: 27.63%;
  left: 82.43%;
  display: inline-block;
}
.addres,
.por-uni-bandung3 {
  width: 26.25%;
  top: 84.65%;
  left: 36.88%;
}
.addres {
  width: 14.93%;
  top: 26.75%;
  left: 60.63%;
}
.poruni-4-group {
  position: relative;
  background-color: var(--color-black);
  width: 1440px;
  height: 228px;
  flex-shrink: 0;
  overflow: hidden;
}
.follow-us-wrapper,
.rectangle-parent17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent17 {
  position: absolute;
  top: 5828px;
  left: 0;
  flex-direction: column;
  font-size: var(--font-size-sm);
}
.follow-us-wrapper {
  flex-direction: row;
  padding: var(--padding-3xs);
}
.mdiinstagram-icon {
  position: relative;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}
.frame-container,
.mdiinstagram-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.frame-container {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-30xl);
}
.emirates-1-icon {
  position: relative;
  width: 60px;
  height: 50px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.emirates-1-parent,
.frame-group,
.sponsors-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-96xl);
}
.frame-group,
.sponsors-parent {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-39xl);
}
.frame-group {
  position: absolute;
  top: 5344px;
  left: 507px;
  gap: var(--gap-97xl);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.group-child40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--color-black);
  width: 45px;
  height: 22px;
}
.group-child41,
.group-child42,
.group-child43,
.group-child44 {
  position: absolute;
  top: 0;
  left: 45px;
  background-color: var(--color-gainsboro-100);
  width: 44px;
  height: 22px;
}
.group-child42,
.group-child43,
.group-child44 {
  left: 89px;
  width: 46px;
}
.group-child43,
.group-child44 {
  left: 135px;
  width: 44px;
}
.group-child44 {
  left: 179px;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  width: 45px;
}
.div11 {
  position: absolute;
  top: 3px;
  left: 20px;
  color: var(--color-white);
}
.div12,
.div13,
.div14,
.div15 {
  position: absolute;
  top: 2px;
  left: 64px;
}
.div13,
.div14,
.div15 {
  left: 108px;
}
.div14,
.div15 {
  left: 153px;
}
.div15 {
  left: 198px;
}
.rectangle-parent18,
.rectangle-parent19 {
  position: absolute;
  top: 3298px;
  left: 602px;
  width: 224px;
  height: 22px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.rectangle-parent19 {
  top: 4045px;
  left: 622px;
}
.frame-child10 {
  position: relative;
  background-color: var(--color-black);
  width: 1438px;
  height: 811px;
  flex-shrink: 0;
}
.facilities-wrapper,
.index-inner1 {
  position: absolute;
  top: 4171px;
  left: -9px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.facilities-wrapper {
  top: 4224px;
  left: 117px;
  flex-direction: row;
  font-size: var(--font-size-9xl);
}
.group-child50 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 225px;
  height: 32px;
}
.more-information1,
.vector-parent {
  position: absolute;
  top: 6px;
  left: 45px;
}
.vector-parent {
  top: 4916px;
  left: 959px;
  width: 225px;
  height: 32px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.group-child51,
.group-child52 {
  position: absolute;
  left: 0;
  width: 1084px;
}
.group-child51 {
  top: 0;
  height: 401px;
  object-fit: cover;
}
.group-child52 {
  top: 399px;
  background-color: var(--color-gray-100);
  height: 134px;
}
.lapangan-sepak-bola,
.standard-fifa-dengan {
  position: absolute;
  top: 399px;
  left: 27px;
}
.standard-fifa-dengan {
  top: 458px;
  font-size: var(--font-size-13xl);
  font-weight: 300;
}
.rectangle-parent20 {
  position: absolute;
  top: 4337px;
  left: 165px;
  width: 1084px;
  height: 533px;
  cursor: pointer;
  font-size: var(--font-size-29xl);
}
.group-child53 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 392px;
  object-fit: cover;
  opacity: 0.5;
}
.por-uni-bandung4 {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
}
.consectetur-lorem-donec {
  position: absolute;
  top: 58px;
  left: 0;
  text-align: justify;
  display: inline-block;
  width: 1104px;
  height: 71px;
}
.group-child54 {
  position: absolute;
  top: 223px;
  left: 779px;
  border-radius: var(--br-3xs);
  background-color: var(--color-crimson);
  width: 315px;
  height: 44px;
}
.registration {
  position: absolute;
  top: 233px;
  left: 889px;
  font-weight: 600;
  color: var(--color-white);
}
.group-wrapper,
.por-uni-bandung-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1104px;
  height: 267px;
}
.group-wrapper {
  top: 77px;
  left: 183px;
}
.rectangle-parent21 {
  position: relative;
  width: 1440px;
  height: 392px;
  flex-shrink: 0;
}
.index-inner2 {
  position: absolute;
  top: 71px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.poruni-3-icon {
  position: relative;
  width: 61px;
  height: 61px;
  flex-shrink: 0;
  object-fit: cover;
}
.ssb-uni-bandung {
  position: relative;
  font-weight: 800;
}
.poruni-3-parent {
  width: 237px;
  flex-shrink: 0;
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home {
  position: relative;
  cursor: pointer;
}
.frame-parent1,
.home-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-parent {
  width: 864px;
  flex-shrink: 0;
  align-items: flex-start;
}
.frame-parent1 {
  position: fixed;
  top: calc(50% - 3030.5px);
  left: 31px;
  width: 1230px;
  align-items: center;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.index1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6067px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

.menu_utama {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  text-align: center;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}
.menu_utama:hover {
  background-color: #ff5c5c;
}
.menu_sub {
  display: none;
  margin-top: 10px;
  list-style-type: none;
  margin-left: -55px;
  margin-bottom: -20px;
  width: 220px;
}
.menu_sub a {
  display: block;
  width: 100%;
  color: white;
  padding: 20px;
  text-decoration: none;
  border-bottom: solid 1px #a3d2ca;
  background-color: rgb(0, 0, 0);
}
.menu_sub a:hover {
  background-color: #ff5c5c;
}
#menu_dropdown .menu_utama:hover > .menu_sub {
  display: block;
}
